spring:
  application:
    name: hyperativa-tech-test

  profiles:
    active: local

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
      generate-ddl: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 1000
          fetch_size: 50
        order_inserts: true
        order_updates: true

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000} # 1 day in milliseconds

encryption:
  secret: ${ENCRYPTION_SECRET}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

