spring:
  datasource:
    url: jdbc:h2:mem:cardsdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    locations: classpath:db/migration,classpath:db/migration-local

logging:
  level:
    root: INFO
    com:
      hyperativatechtest: DEBUG
    org:
      springframework:
        security: DEBUG

springdoc:
  swagger-ui:
    enabled: true

server:
  port: 8080

jwt:
  secret: mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLong123456789
  expiration: 86400000

encryption:
  secret: AES256SecretKeyForCardEncryption!

