spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER:org.postgresql.Driver}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:50MB}
      max-request-size: ${MAX_REQUEST_SIZE:50MB}

logging:
  level:
    com:
      hyperativatechtest: INFO
    org:
      springframework:
        security: WARN
  file:
    name: /var/log/hyperativa-tech-test.log

springdoc:
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:false}

server:
  port: ${SERVER_PORT:8080}
  compression:
    enabled: true
  http2:
    enabled: true

jwt:
  secret: ${JWT_SECRET}

encryption:
  secret: ${ENCRYPTION_SECRET}

aws:
  region: ${AWS_REGION:us-east-1}
  endpoint: ${AWS_ENDPOINT:}
  access-key: ${AWS_ACCESS_KEY_ID}
  secret-key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    bucket: ${S3_BUCKET:card-files-bucket}
    presigned-url-expiration: ${S3_PRESIGNED_URL_EXPIRATION:3600}

