spring:
  datasource:
    url: jdbc:h2:mem:cardsdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    locations: classpath:db/migration,classpath:db/migration-local

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

logging:
  level:
    root: INFO
    com:
      hyperativatechtest: DEBUG
    org:
      springframework:
        security: DEBUG

springdoc:
  swagger-ui:
    enabled: true

server:
  port: 8080

jwt:
  secret: mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLong123456789
  expiration: 86400000

encryption:
  secret: AES256SecretKeyForCardEncryption!

aws:
  region: us-east-1
  endpoint: http://localhost:4566
  access-key: test
  secret-key: test
  s3:
    bucket: card-files-bucket
    presigned-url-expiration: 3600

