spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER:com.mysql.cj.jdbc.Driver}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    com:
      hyperativatechtest: INFO
    org:
      springframework:
        security: WARN
  file:
    name: /var/log/hyperativa-tech-test.log

springdoc:
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:false}

server:
  port: ${SERVER_PORT:8080}
  compression:
    enabled: true
  http2:
    enabled: true

jwt:
  secret: ${JWT_SECRET}

encryption:
  secret: ${ENCRYPTION_SECRET}

